.DS_Store
data*
overlay*
subplot*
parallel*
*.csv
*.inp
*.txt
diff_data/
jupyter_notebook/
jupyter_notebook/*
test_functions/
!Examples/Derivatives/**/*.txt
!Examples/Derivatives/**/*.csv 
!Examples/Create_Input_Files/**/*.csv 
!Examples/Create_Input_Files/**/*.csv 
